<div class="alert alert-primary" role="alert" style="text-align: center;">
    Owner works
</div>
<div class="container">
  <div class="row">
    <div class="col-sm" style="background-color: cadetblue;">
      Coming soon
    </div>
    <div class="col-sm">
      <app-graphs [graphData]="graphData"></app-graphs><!-- Component -->
    </div>
  </div>
  <div>
      &nbsp;
  </div>
  <div class="row">
    <div class="col-sm">
        <div class="alert alert-primary" role="alert">
              Primary alert—check!
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm" style="background-color: cadetblue;text-align: center">
        Coming soon<br><br><br>
      </div>
      <div class="col-sm" style="background-color: cornsilk;text-align: center">
          Coming soon<br><br><br>
      </div>
    </div>
</div>
